<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patricklawrence.mythology_app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.patricklawrence.mythology_app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RomanScreen"
            android:label="Roman"
            android:theme="@style/AppTheme" />

        <activity android:name=".ApolloActivity"
            android:label="Apollo"
            android:theme="@style/AppTheme" />

        <activity android:name=".BacchusActivity"
            android:label="Bacchus"
            android:theme="@style/AppTheme" />

        <activity android:name=".JanusActivity"
            android:label="Janus"
            android:theme="@style/AppTheme" />

        <activity android:name=".VulcanActivity"
            android:label="Vulcan"
            android:theme="@style/AppTheme" />

        <activity android:name=".CupidActivity"
            android:label="Cupid"
            android:theme="@style/AppTheme" />

        <activity android:name=".CeresActivity"
            android:label="Ceres"
            android:theme="@style/AppTheme" />

    </application>

</manifest>
